<a href="https://colab.research.google.com/github/chrisf17/jupyter/blob/master/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

## Talking Directly to the Interpreter
#### You can talk to Python directly from the Python Console and directly execute commands. They could be as simple as basic math operations

In [0]:
2 + 3

## Built in Python Commands
#### You can also execute functions from the builtin library that is available on loading the interpreter

In [0]:
print("Hello World")


## Getting input from the user

In [0]:
input("Enter your name:")

Enter your name:Tam

'Tam'

## Creating variables

In [0]:
first_name = "Amy"
age = 20

## Combining Variables and Commands

In [0]:
first_name = input("Enter your name:")
print ("Hi", first_name)

## Using other Modules

Python has access to the functions in the builtin library. If you need anything else you need to import it from reusable modules that are part of the standard library or written by other team members.

**Here** we are importing the random module to generate a random number. Keep running it!

In [0]:
import random
my_num = random.randint(1, 50)
print(my_num)

# *Data* Type
### Python infers data type based on what you assign to your variable

In [0]:
name = "Beth"
type(name)

In [0]:
age = 21
type(age)

In [0]:
price = 9.99
type(price)

#### Integers are whole numbers floats are numbers that store the fractional part of the number

## Number Operations

In [0]:
count = 1
count = count + 1
print(count)

Compound operations allow for simple math operations using a more concise syntax. Code below is the equivalent of above

In [0]:
count = 1
count += 1
print(count)

### Other Math operators include:
- \* for multiply
- \- for subtract
- / for divide
- // for integer divide
- % for remainder (modulo) division

Each operator has a compound equivalent

### What will be the result of the following operation?

In [0]:
count = 2
count *= 3
print(count)

## Operating on Types

### Combining Types

### Types can be combined/joined using the + operator

In [0]:
first_name = "Amy"
last_name = "Anderson"
full_name = first_name + " " + last_name
print(full_name)

### But only if the types are compatible

In [0]:
age = 21
message = first_name + " is " + age

### int and str don't mix!

### Instead convert the age from an integer to as string using the str function

In [0]:
message = first_name + " is " + str(age)
print(message)

## Lists and Tuples

In [0]:
names = ["Fred", "Amy", "Raj", "Bob"]
print(names[1])

Amy

### List can be updated

In [0]:
names = ["Fred", "Amy", "Raj", "Bob"]
print(names[1])
names[1] = "Mina"
print(names)

Amy
['Fred', 'Mina', 'Raj', 'Bob']

### Tuples can't be changed

In [0]:
names = "Fred", "Amy", "Raj", "Bob"
print(names[1])
names[1] = "Mina"
print(names)

Amy

TypeError: ignored

# Controlling Execution Flow

## While Loops
### Keep executing code while a state is true

In [0]:
count = 0
while count < 20:
  print(count)
  count += 1

Keep asking for the pin number inside the while loop until either a valid pin number is entered or the attempts variables reaches a value of 3

else runs when the while clause evaluates to false

In [0]:
master_pin = "1234"
pin = None
attempts = 0 

while pin != master_pin and attempts < 3:
  pin = input("Enter your PIN:")
  if pin == master_pin:
    print("Access Granted")
  else:
    print("Access Denied")
    attempts += 1
else:

  if attempts == 3:
    print("Account Locked")

Enter your PIN:2
Access Denied
Enter your PIN:3
Access Denied
Enter your PIN:4
Access Denied
Account Locked

### For loops will execute either a set number of times

In [0]:
for num in range(20):
  print("Hello for the", num+1, "time")

Hello for the 1 time
Hello for the 2 time
Hello for the 3 time
Hello for the 4 time
Hello for the 5 time
Hello for the 6 time
Hello for the 7 time
Hello for the 8 time
Hello for the 9 time
Hello for the 10 time
Hello for the 11 time
Hello for the 12 time
Hello for the 13 time
Hello for the 14 time
Hello for the 15 time
Hello for the 16 time
Hello for the 17 time
Hello for the 18 time
Hello for the 19 time
Hello for the 20 time

### Exiting Loops early
#### Use break to exit from a for or whil loop

In [0]:
for num in range(20):
  if num == 10: break
  print("Hello for the", num+1, "time")

Hello for the 1 time
Hello for the 2 time
Hello for the 3 time
Hello for the 4 time
Hello for the 5 time
Hello for the 6 time
Hello for the 7 time
Hello for the 8 time
Hello for the 9 time
Hello for the 10 time

#### Use continue  to skip to the next iteration

In [0]:
for num in range(20):
  if num == 10: continue
  print("Hello for the", num+1, "time")

Hello for the 1 time
Hello for the 2 time
Hello for the 3 time
Hello for the 4 time
Hello for the 5 time
Hello for the 6 time
Hello for the 7 time
Hello for the 8 time
Hello for the 9 time
Hello for the 10 time
Hello for the 12 time
Hello for the 13 time
Hello for the 14 time
Hello for the 15 time
Hello for the 16 time
Hello for the 17 time
Hello for the 18 time
Hello for the 19 time
Hello for the 20 time

### Use a for loop to process a collection of data

In [0]:
movies = ["Star Wars", "Jaws", "Mr Bean The Movie"]
for movie in movies:
  print(movie)

Star Wars
Jaws
Mr Bean The Movie