<a href="https://colab.research.google.com/github/chrisf17/jupyter/blob/master/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Strings

##Creating
Strings in Python 3 are collections of unicode characters

###Defining a literal immutable string

Strings in Python are immutable which means once defined they dont change

In [0]:
message = "The quick fox jumbed over the fence"

Strings can be joined to each other

In [0]:
name = "Fred"
greeting = "Hello"
message = greeting + " " + name
print(message)

Hello Fred

Strings can be repeated - Try this, it gives a surprising result

In [0]:
"Hello " * 5

'Hello Hello Hello Hello Hello '

It's also possible to refer to individual unicode characters by character code

In [0]:
euro = "\u20ac"
print(euro)
euro = "\N{euro sign}"
print(euro)

€
€

Special character or Escape Sequences can be included in your strings.

\n Newline

\t Tab

\\ Backslash

\" Quote

etc

In [0]:
message = "Hello \n world"
print(message)

Hello
 world

###Raw Strings
Treat the string as raw by prefixing it with "r". Escpe sequences will be treated as literal values and not interpreted

In [0]:
message = r"Hello \n world"
print(message)

Hello \n world

##Strings are objects and object have methods
Based on the str class and so have useful functions that we can use to manipulate existing strings to create new ones

In [0]:
message = "No need to shout"
second_message = message.upper()
print(second_message)

NO NEED TO SHOUT

###To find the position of one string in another use find

In [0]:

message = "The clever fox jumped over the fence"
pos = message.find("fox")
print(pos)

11

###Replace one string with another

In [0]:
message = "The clever fox jumped over the fence"
message.replace("fox", "cat")

'The clever cat jumped over the fence'

##Formatting Strings

Joining data together to form a string can become complicated and buggy

In [0]:
name = "Mina"
device = "iPhone"
selling_price = 129.98727

# Dubious?
name + " wants to sell her " + device + " for " + str(selling_price)

'Mina wants to sell her iPhone for 129.98727'

String formatting aims to reduce the comlexity

In [0]:
name = "Mina"
device = "iPhone"
selling_price = 129.98727

"{0} wants to sell her {1} for {2}".format(name, device, selling_price)

'Mina wants to sell her iPhone for 129.98727'

where {0}, {1} and {2} are placeholders that will be replaced by the data stored in name, device and selling_price

###Field Formatting
Each insertion point can be formatted using the following syntax

{ position : fill align sign # 0 width . precision type }

In [0]:
# Within a space of 15 chars center (^) the data, fills he gaps with * chars and 
# treat the data as a strin (s)
"{0:*^15s}".format("Hello")

'*****Hello*****'

fill - Can be any character above we a re using a *

align - < for left align, ^ center align, > right align

sign - + forces numbers to be displayed either with a + for positive or - for negative numbers

\# or 0 - pads numbers with spaces or zeroes

width - determines the field size to be presented in characters (can align within this space)

.precision - how many decimal places

type - d for int, s for string, f for float (see documentation for more)

In [0]:
print("{0:#8d}".format(23))
print("{0:08d}".format(23))

      23
00000023

Here is a float formatted to two decimal points

In [0]:
"{0:^15.2f}".format(128.872626)

'    128.87     '

###Format Strings (introduced in Python 3.6) make life a little easier again

Just prefix your string with an f

The variables container with {} will be substituted.

In [0]:
name = "Mina"
device = "iPhone"
selling_price = 129.98727

f"{name} wants to sell her {device} for {selling_price}"

'Mina wants to sell her iPhone for 129.98727'


##Slicing Strings
####Strings are treated by Python a collections or liists of characters. Each character can be accessed by position

Positive numbers will access characters from the left side of the string starting with the first character at character position 0


The code below will print the first let "H" of Hello World

In [0]:
message = "Hello World"
print(message[0])

H

Characters can also be retrieved from the right side of a string using negative numbers starting with -1 which refers to the rightmost character. Increasing negative numbers retrieves characters further to the right within the string.


The code below prints **d** followed by **l**

In [0]:
message = "Hello World"
print(message[-1], message[-2])

d l

####Character Ranges
As well as accessing individual characters you can also access a range of characters from the target string

Below we are accessing characters starting from character zero (or T) upto but not including the character at position 4 (or c)

In [0]:
message = "The clever fox jumped over the fence"
sub_str = message[0:4]
print(sub_str)

#Collections

Collections allow more than one piece of data to be stored in a variable at one time

##Lists

In Python lists store data in sequences that are accessible via unique indexes.

Lists are defined using [ ] and can either be empty as [ ] or contain comma seperated values [12, 33, 23, 22 ]

To simplay define an empty list you would write the following

In [0]:
names = [] # or
names = list()
names

[]

To initialise a list with data write:

In [0]:
names = ["Fred", "Mina", "Bob", "Tam"]
print(names)

##List Indexing
Lists are indexed in an identical way to strings

Positive numbers will access items from the left side of the list starting with the first item at position 0

In [0]:
names = ["Fred", "Mina", "Bob", "Tam"]
first = names[0]
last =  names [-1]
print(first, last)

Fred Tam

In [0]:
####List Slicing

Lists can be sliced in a similar way to strings with [from:upto(not including)] syntax

In [0]:
names = ["Fred", "Mina", "Bob", "Tam"]
names[0:3] # Starting with item at position 0 upto not including item at position 3

['Fred', 'Mina', 'Bob']

Checking Membership with in

In [0]:
"Bob" in ["Fred", "Mina", "Bob", "Tam"]

True

## Modifying Lists

Lists are mutable types and so can be changed